<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descargar Boleta</title>
</head>
<body>
    <h2>Descargar Boleta</h2>
    <form action="/descargar_boletas" method="get">
        <label for="filename">Nombre del archivo de la boleta:</label><br>
        <input type="text" id="filename" name="filename" required><br><br>
        
        <button type="submit">Descargar Boleta</button>
    </form>
</body>
</html>
